<h3><%= @blog.subject %></h3>
<p><%= @blog.content %></p>

<p><%= link_to "Edit contents", edit_blog_path %> * <%= link_to "Leave comment", new_blog_comment_path(@blog) %>
</p>

<h4>Comments</h4>

<% @comments.order! %>

<% @comments.each do |comment| %>
      <p><%= comment.commenter_name %> says: "<%= comment.content %>" 
<%= link_to "Edit this comment", edit_blog_comment_path(@blog, comment.id) %>
      </p>
  <% end %>
