<%=form_for [@post, @comment] do |f| %>
  <p class='editcomment'><%=f.label :author%></p>
  <p class='editcomment'><%=f.text_field :author%></p>
  <p class='editcomment'><%=f.label :text%></p>
  <p class='editcomment'><%=f.text_area :text, rows: 3, cols: 30%></p>
  <p class='editcomment'><%=f.submit%></p>
<%end%>
