<h2>Edit Comment</h2>
<div class="form">
<%= form_for [@post, @comment] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>

</div>
