<h1> EDIT COMMENT </h1>

<%=form_for [@post, @comment] do |f| %>

  <%=f.label :title %>
  <%=f.text_field :title%>

  <%=f.label :text%>
  <%=f.text_field :text%>

  <%=f.submit "UPDATE COMMENT" %>
<%end %>


<%=form_for [@post, @comment], method: :delete do |f| %>

  <%=f.submit "DELETE COMMENT" %>

<% end %>
