<%= render 'show' %>

<%= form_for ([@post, @comment]) do |f| %>
<p>
  <%= f.label :commenter, "Name: "%><br>
  <%= f.text_field :commenter %>
</p>
<p>
  <%= f.label :body, "Body: " %><br>
  <%= f.text_area :body %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
