<form method="post" action="/comments/<%= @comment.id %>">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>comment</label>
  <input type="text" name="comment[comment]" value="<%= @comment.comment %>">

  <label>username</label>
  <input type="text" name="comment[username]" value="<%= @comment.username %>">

  <input type="submit" value="Update comment">
</form>
<form action="/comments/<%= @comment.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="submit" class="delete" name="submit" value="Delete Comment">
</form>
