<h2>Edit</h2>

<div class="form">
	<%=form_for [@post,@comment] do |f| %>
		<%=f.label :username%><br>
		<%=f.text_field :username, value: @comment.username, required: true%><br>
		<%=f.label :text %><br>
		<%=f.text_field :text, required: true %><br>
		<%=f.submit "Edit"%><br>
	<%end%>

	<%= form_for [@post,@comment], method: :delete do |f|%>
		<%= f.submit "Delete Comment"%>
	<%end%>
</div>