<h2>Edit Your Comment</h2>

<%= form_for [@post, @comment] do |f|%>

    <%=  f.label :response%>
    <%=  f.text_area :response, :cols => "150", :rows => "10 "%>
</br>
    <%= f.submit "Submit"%>
<% end %>

<%= form_for @post.comment, method: :delete do |f| %>
    <%= f.submit "Delete Comment"%>
<% end %>
