<div class='form'>
  <%= form_for ([@post, @comment]) do |f| %>
    <p><%= f.label "New Comment" %></p>
    <p><%= f.text_area :text, :size => "40x10" %></p>
    <p>
      <%= f.submit %>
      <%= button_to "Delete", post_comment_path(@post, @comment), method: :delete %>
    </p>
  <% end %>
</div>
