<h2>Comments
<%= link_to "(+)", new_comment_path %>
</h2>
<ul>
  <% @comments.each do |comment| %>
    <li>
      <a href="/comments/<%= @comment.id %>"<%= @comment.title %> on <%= @post.title %></a>
      <%= link_to "#{@comment.title} on #{@post.title}" %>
      <div class="timestamp">Commented on <% @comment.timestamp %></div>
    </li>
  <% end %>
</ul>
