<h2>Add A Comment</h2>

<%= form_for [@post, @comment] do |f| %>
	<%= f.label :author_name %>
	<%= f.text_field :author_name %>

	<%= f.label :content %>
	<%= f.text_field :content %>

	<%= f.submit "Submit" %>
<% end %>
