<h1>New Comment</h1>

<h3>Add A Comment</h3>
<%= form_for @comment do |f| %>
<%= f.label :body %>
<%= f.text_field :body %>
<%= f.label :author %>
<%= f.text_field :author %>
<%= f.submit %>
<% end %>
