<h2>New Comment</h2>

<%= form_for @comment do |f| %>

  <p><%= f.label :auther %>
  <%= f.text_field :user %></p>

  <p><%= f.label :content %>
  <%= f.text_field :content %></p>

  <p><%= f.label :Post %>
  <%= f.text_field :post_id%></p>

  <%= f.submit "Create" %>
<% end %>
