<h2>Comment</h2>
<% @comment.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<div class="form">
<%= form_for [@post, @comment] do |f| %>
  <%= f.label :text %>
  <%= f.text_field :text %>
  <%= f.submit "post comment"%>
<% end %>
</div>
<br>
<%= link_to "home", posts_path %>
