<h2>New Comment</h2>

<p>What do you think about <%= @blog.author_name %>'s post '<%= @blog.subject %>'? It's included below (in case you forgot).</p>

<p class="remind"><%= @blog.content %></p>

<%= form_for [@blog, @comment] do |f| %>
 <p> <%= f.label :commenter_name %>
  <%= f.text_field :commenter_name %>
  </p>

 <p> <%= f.label :content %><br />
  <%= f.text_field :content %>
  </p>

   <p> <%= f.label :blog_id %><br />
  <%= f.text_field :blog_id %>
  </p>

  <%= f.submit %>
<% end %>

