<h2>Comment by <%=@comment.author%> attached to "<%=@post.title%>" by <%=@user.email%></h2>
<h3>Created at <%=@comment.created_at%><%if @comment.created_at != @comment.updated_at%>--Updated At: <%=@comment.updated_at%><%end%></h3>
<hr>
<p class="textarea"><%=@comment.text%>
<hr>

<%if current_user == @post.user%>
  <%=link_to "Edit Comment", edit_post_comment_path(@post, @comment)%>
  <%=form_for [@post,@comment], method: "delete" do |f| %>
    <%=f.submit "Delete Comment", class: "delete"%>
  <%end%>
<%end%>
