<h2>Comment by <%=@comment.author%> attached to "<%=@post.title%>" by <%=@post.author%></h2>
<h3>Created at <%=@comment.created_at%></h3>
<hr>
<p><%=@comment.text%>
<hr>


<%=link_to "Edit Comment", edit_post_comment_path(@post, @comment)%>
<%=form_for [@post,@comment], method: "delete" do |f| %>
  <%=f.submit "Delete Comment", class: "delete"%>
<%end%>
