<h2><%= @comment.title %>
<a href="comment/<%= @comment.id %>/edit">(edit)</a></h2>
<h3>Submitted by: <%= @comment.user %> on <%=@comment.timestamp %> in response to <a href="/posts/<%= @comment.post.id %>"><%= @comment.post.title %></a></h3>

<div><%= @comment.body %></div>
<a class="editbutton" href="comment/<%= @comment.id %>/edit">Edit Comment</a>
