<h2>Comment</h2>

<p><%= @comment.text %></p>
<p>Created At: <%= @comment.created_at %></p>
<p>Updated At: <%= @comment.updated_at %></p>

<%= link_to "Corresponding Post", @post %>
<%= link_to "Edit this Comment", edit_post_comment_path(@post, @comment) %>
