<%= link_to 'New article', new_article_path %>
<% @articles.each do |article| %>
<div class='blog-post'>
  <!-- <p class='date'><%= article.title %></p> -->
  <td><%= article.title %></td>
  <td class='post_photo'><%= image_tag article.photo_url %></td>
  <td><%= article.text %></td>
  <td><%= link_to 'Read More', article_path(article) %></td>
  <td><%= link_to 'Edit', edit_article_path(article) %></td>
  <td><%= link_to 'Destroy', article_path(article),
  method: :delete,
  data: { confirm: 'Are you sure?' } %></td>
</div>
  <% end %>
