<!DOCTYPE html>
<html>
<head>
  <title>Scribble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='logo'>
    <%= image_tag "logo.png" %>
  </div>

  <div class="navlink">
    <nav>
      <%= link_to "Home", :root %>
      <%= link_to "Make a new post", new_post_path %>
    </nav>
  </div>

<%= yield %>

</body>
</html>
