<!DOCTYPE html>
<html>
<head>
  <title>Scribble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='logo'>
    <%= image_tag "logo.png" %>
  </div>

  <div class="navlink">
    <article>
      <a href="<%= new_post_path %>">
        <%= 'Make a new post' %>
      </a>
    </article>
  </div>

<%= yield %>

</body>
</html>
