<h2>New Post</h2>

<%= form_for @post do |f| %>
  <%= f.label :post %>
  <%= f.text_field :post %>

  <!-- <%= f.label :photo_url %>
  <%= f.text_field :photo_url %>

  <%= f.label :nationality %>
  <%= f.text_field :nationality %> -->

  <%= f.submit %>
<% end %>
