<h2>Forgot your password?</h2>

<%= form_for :create do |f| %>
  <%= f.label :email %>
  <%= f.email_field :post_author %>
  <br>
  <%= f.submit "Send me reset password instructions" %>
<% end %>

<%= link_to "Log In", forms_sign_in_path %>
<br>
<%= link_to "Sign Up", forms_sign_up_path %>
