<%= form_for @post do |f| %>
  <%= f.label :author %>
  <%= f.text_field :author %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :text %>
  <p>
    <%= f.text_area :text, :size =>"50x10" %>
    <%= f.submit %>
  </p>
<% end %>
