<%=form_for @post do |f| %>
  <p>
    <%= f.label :title%>
  </p>
  <p>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :post_text, "Text"%>
  </p>
  <p>
    <%= f.text_area :post_text%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
