<h4> <a href="/posts"> < Home </a></h4>

<h2> Edit Post </h2>

<%= form_for @post, url: "/posts/#{@post.id}" do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </p>

  <p class='contentFill'>
    <%= f.label :content %><br>
    <%=  f.text_area :content %>
  </p>
  <p>
    <%= f.submit "Edit" %>
  </p>
  <%end%>


  <%= form_for @post, url: "/posts/#{@post.id}", method: :delete do |f| %>
    <% f.submit "DELETE", class: "btn-delete" %>
  <% end %>
