<h2>Edit <%= @post.name %></h2>

<%= form_for @post, url: "/posts/#{@post.id}", method: :put do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :author %>
  <%= f.text_field :author %>

  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.submit "Edit" %>
<% end %>

<%= form_for @post, url: "/posts/#{@post.id}", method: :delete do |f| %>
  <% f.submit "Delete", class: "btn-delete" %>
<% end %>