<h2>Edit Post</h2>

<form action="/posts/<%= @post.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="put">

  <label for="post[author]">Author:</label>
  <input name="post[author]" value="<%= @post.author %>">

  <label for="post[post_title]">Title:</label>
  <input name="post[post_title]" value="<%= @post.post_title %>">

  <label for="post[post_text]">Post:</label>
  <input name="post[post_text]" value="<%= @post.post_text %>">

  <input type="submit" value="Create">
</form>

<form action="/posts/<%= @post.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="delete">
  <input class="button-delete" type="submit" value="Delete!">
</form>
