<h2>Edit Post</h2>

<%= form_for @post do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :post_text %>
  <%= f.text_field :post_text %>

  <%= f.submit %>

<% end %>

<%= link_to 'Delete!', post_path(@post), method: :delete, class: 'delete' %>
