<h2>Edit Post: <%= @post.title %></h2>

<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.submit %>
<% end %>

<%= button_to "Delete Post", { action: "destroy", id: @post.id }, method: :delete %>
