<h2>Edit post</h2>

<div class="form">
	<%= form_for @post do |f|%>
		<%= f.label :username %><br>
		<%= f.text_field :username, value: @post.username, readonly: "true" %><br>

		<%= f.label :subject %><br>
		<%= f.text_field :subject, value: @post.subject, required: true%><br>

		<%= f.label :content %><br>
		<%= f.text_area :content, value: @post.content, required: true%><br>

		<%=f.submit%>
	<%end%>

	<%= form_for @post, method: :delete do |f|%>
		<%=f.submit "Delete!"%>
	<%end%>
</div>