<h3> Edit Post</h3>

<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :author %>
  <%= f.text_field :author %>

  <%= f.label :message %>
  <%= f.text_area :message %>

  <%= f.submit %>
<% end %>

<%= form_for @post, method: :delete do |f| %>
  <%= f.submit "Remove Post", class: "delete" %>
<% end %>
