<%= link_to "Sign Up", forms_sign_up_path %>

<%= link_to "Sign In", forms_sign_in_path %>

<h1>Posts <a href="/posts/new"></a></h1>

<ul>
  <% @posts.each do |post| %>
      <!-- <a href="/posts/<%= post.id %>"> -->
        <%= post.title %><br>
        <%= post.post_author %><br>
        <%= post.post_content %><br>
        <%= "____________________________________________" %><br>

      <!-- </a> -->
  <% end %>
</ul>
