<h1>This Is Where The Posts Go</h1>
<p><a href="/posts/new">Create New Post</a></p>
  <div class="big-box">
  <% @posts.reverse_each do |p| %>
  <div class="post_container">
    <p class="title"> <a href="/posts/<%= p.id %>"> <%= p.title %> </a></p>
    <p class="body"> <%= p.body %> </p>
    <p class="author"> --<%= p.author %> </p>
    <p class="comment_num"> <a href="/posts/<%= p.id %>">Comments: <%= p.comments.length %></a></p>
    <p></p>
  </div>
  <% end %>
</div>
