<%= link_to "Create New Post", new_post_path, class: "float" %>
<h1>All posts</h1>



<% @posts.each do |post| %>
  <h2><a href="posts/<%= post[:id] %>"><%= post.title %></a><span>Posted by <%= post.author %> on <%= post.created_at %></span></h2>
  <hr>
<% end %>
