

<h1>Blog<span class="glyphicon glyphicon-registration-mark  " aria-hidden="true"></span></h1>
<%= link_to 'New post', new_post_path, class: "btn btn-primary" %>
<div class="panel panel-default">
    <div class="panel-heading"><mark>Create sexy posts!</mark></div>


          <% @posts.each do |post| %>

              <h2><%= post.title %></h2>
              <p><%= post.text %></p>
              <span><%= link_to 'Show', post_path(post), class: 'btn btn-default' %></span>
              <spam><%= link_to 'Edit', edit_post_path(post), class: 'btn btn-info' %></span>
              <span><%= link_to 'Destroy', post_path(post), class: 'btn btn-danger', method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
            </span>

          <% end %>
    </div>
