<h1>Welcome To Scribble</h1>
<h3><a href="posts/new">Create New Post!</a></h3>
<div>
  <% @posts.each do |post| %>
    <p>
      <a href="/posts/<%= post.id %>"><%= post.title %></a><br />
      Updated by <%= post.user %> at <%= post.created_at %><br />
        <%= post.content %>
        <hr />
    </p>
  <% end %>
</div>
