

<h1>Blog<span class="glyphicon glyphicon-registration-mark  " aria-hidden="true"></span></h1>
<%= link_to 'New post', new_post_path, class: "btn btn-primary" %>
<div class="panel panel-default">
    <div class="panel-heading"><mark>Create sexy posts!</mark></div>
        <table class="table table-stripped">
          <tr class="info">
            <th class="text-center">Title</th>
            <th class="text-center">Text</th>
            <th colspan="3"></th>
          </tr>

          <% @posts.each do |post| %>
            <tr>
              <td><%= post.title %></td>
              <td><%= post.text %></td>
              <td><%= link_to 'Show', post_path(post), class: 'btn btn-default' %></td>
              <td><%= link_to 'Edit', edit_post_path(post), class: 'btn btn-info' %></td>
              <td><%= link_to 'Destroy', post_path(post), class: 'btn btn-danger', method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
            </tr>

          <% end %>
        </table>
    </div>
