
<% @posts.each do |post| %>
  <h2><a href="/posts/<%= post.id %>">
    <%= post.title %>
  </a></h2>
<div class='postBox'>
  <p class="byLine"> Updated by <%= post.user %> at <time><%= post.updated_at %></time></p>
  <article> <%= post.content %> </article>
  <hr>
  <%end%>
</div>
<h3><a href="posts/new">Create A New Post</a></h3>
