<div class="content">


  <a href="/"><img class="scribble" src="https://camo.githubusercontent.com/c0fa788c04276e154ec92e5ea05aa5c6692f43ea/68747470733a2f2f646c2e64726f70626f7875736572636f6e74656e742e636f6d2f732f386672663872626c7736706e7064732f686970737465726c6f676f67656e657261746f725f313433383030373038373739332e706e673f646c3d30" alt="Scribble Logo"></a>
  <% @posts.each do |post| %>
  <br>
  <hr>
  <br>
  <h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
  <h4>by <%= post.author %></h4>
  <p><%= post.content %></p>
  <p class="right_align">Last Updated: <%= post.updated_at %></p>
  <p class="right_align">Originally Posted At: <%= post.created_at %></p>
  <p class="likes"><%= post.likes %> <img class="likemark" src="http://emojipedia-us.s3.amazonaws.com/cache/6e/bd/6ebd94944d1917ffe02c81acb4fad0f9.png" alt="Likes Checkmark"></p>
  <% end %>
  <br>
  <br>
  <h3 class="centered"><a href="/posts/new_post">NEW POST</a></h3>

</div>
