<div class="pic"><%= image_tag "http://static.deathandtaxesmag.com/uploads/2014/02/Screen-Shot-2014-02-19-at-8.33.46-PM-585x377.png", alt: "sinatra_pic", size: "600 x 500" %></div>

<h2>Ditties</h2>

<div class="post">
<% @posts.each do |post| %>
    <div class="post-each">
    <h4><%= link_to "#{post.title}", post %></h4>
      <span class="post-user">Posted by&nbsp;</span><%= post.author %></span>
      <span><%= post.date_posted %></span>

      <span class="summary"><%= post.summary %></span>
      <%= link_to "Go To Full Post...", post %>

    <div class="tag">Filed under: <%= post.topic %></div>

    <div class="post-edit-delete">
      <%= link_to "Edit", edit_post_path(post) %></div>
    </div>
<% end %>
</div>
