<h1>Welcome To Scribble! <span><a href="posts/new">(Create New Post!)</a></span></h1>
<div>
  <% @posts.each do |post| %>
    <div>
      <h3><a href="/posts/<%= post.id %>"><%= post.title %></a></h3>
      <h4>Updated by <%= post.user %> at <%= post.created_at %></h4>
      <h4>Tags: <%= post.tags.join(", ") %></h4>
      <p><%= post.content %></p>
      <hr />
    </div>
  <% end %>
</div>
