<p id="notice"><%= notice %></p>
<br>

<div class="columns is-mobile">
  <div class="column is-half is-offset-one-quarter">
    <div class="block">
      <%= link_to 'New Post', new_post_path , :class => "button is-primary has-text-centered"%>
    </div>
  </div>
</div>



<div class="container">
<% @posts.each do |post| %>
<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        
        <p>
          <strong><%= post.title %></strong> <small><time><%= post.updated_at%></time></small>
          <br>
          <%= post.content %>
        </p>
        <div class="block">
        <%= link_to 'Show', post_path(post), :class => "button is-primary" %>

        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button is-danger" %>
      </div>
      
      </div>
    </div>
  </article>
</div>
<% end %>




