

<div id="container">
  <h1>Scribble Posts</h1>
  <% @posts.each do |post| %>
  <h4><%= link_to post.title, post_path(post) %></h4>
  <time><%= post.user.email %> <%= post.created_at %></time>
  <p><%= post.body %></p>
  <% end %>
</div>

<div id="new"><%= link_to "Post Something!", new_post_path %></div>
