<h1>Look at this index!</h1>
<% @posts.each do |post| %>
<br>
<hr>
<br>
<h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
<h4><%= post.author %> at <%= post.created_at %></h4>
<p><%= post.content %></p>
<p>Last Updated: <%= post.updated_at %></p>
<p>Likes: <%= post.likes %></p>
<% end %>
<br>
<br>
<h3><a href="/posts/new_post">NEW POST</a></h3>
