<h2>New Post</h2>
<div class="form">


<%= form_for @post do |f| %>
<div class="formitem">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div class="formitem">
  <%= f.label :author %>
  <%= f.text_field :author %>
</div>
<div class="formitem">
  <%= f.label :image %>
  <%= f.text_field :img_url %>
</div>
<div class="formitem">
  <%= f.label :content %><br>
  <%= f.text_area :content, class: "contentinput"%>
</div>
<div class="formbutton">
  <%= f.submit %>
</div>
<% end %>
</div>
