
<a href="/posts">Back</a>
<%= form_for @post do |f| %>
 <%= f.label :author %>
 <%= f.text_field :author %>


  <%= f.label :title %>
  <%= f.text_field :title %>

 <br> <br>

  <%= f.label :content %>
  <%= f.text_area :content, :cols => "50", :rows => "20" %>

 <br>

  <%= f.label :likes %>
  <%= f.text_field :likes %>

 <%= f.submit %>
 <% end %>
