<div class='form'>
  <%= form_for @post do |f| %>
    <p><%= f.text_field :subject, :placeholder => "New Post" %></p>
    <p><%= f.text_area :text, :size => "40x10" %></p>
    <p>
      <%= f.submit %>
      <%= button_to "Back", posts_path, method: :get %></p>
    </p>
  <% end %>
</div>
