<h2>Create New Post</h2>

<%= form_for [@post] do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :message %>
    <%= f.text_area :message %>

    <%= f.label :image_url %>
    <%= f.text_area :image_url %>

    <%= f.submit %>
<% end %>
