<h2>New Post</h2>

<%= form_for @post do |f| %>
  <p><%= f.label :title %>
  <%= f.text_field :title %></p>

  <p><%= f.label :auther %>
  <%= f.text_field :user %></p>

  <p><%= f.label :content %>
  <%= f.text_field :content %></p>

  <%= f.submit "Create" %>
<% end %>
