<h2>Create a new post!</h2>

<%= form_for :post, url: posts_path do |f| %>
  Title: <%= f.text_field :title %>
  Author: <%= f.text_field :author %>
  Category: <%= f.text_field :subject %>
  Body: <%= f.text_area :body %>
  <%= f.submit %>
<% end %>
