<h2>Posts#show</h2>
<h3><%= @post.title %> (<%= link_to "edit?", edit_post_path(@post) %>)</h3>
<p><%= @post.text %></p>
<ul>
  <li>created_at: <%= @post.created_at %></li>
  <li>updated_at: <%= @post.updated_at %></li>
</ul>
