<h2 class="title-header"><%= @post.title %> </h2>

<div class="post">
  <div class="post-header">
    <span class="post-user">Posted by&nbsp;</span><%= @post.author %></span>
    <span><%= @post.date_posted %></span>
  </div>

  <div class="content">
    <span class="body"><%= @post.body %></span>
    <iframe width="420" height="315" src="<%= @post.video_url %>" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="tag">Filed under: <%= @post.topic %></div>

  <h3>Comments</h3>
  <ul>
    <% @post.comments.each do |comment| %>
      <!-- build the list element for each song -->
      <li>
        <div><a href="/comments/<%= comment.id %>">
          <%= comment.title %>
        </a></div>
        <div><%= comment.body %></div>
      </li>
    <% end %>

  <div class="post-edit-delete">
    <a href="/posts/<%= @post.id %>/edit">Edit</a>
    <!-- delete -->
    <form action="/posts/<%= @post.id %>" method="post">
      <input name="_method" type="hidden" value="delete">
      <button type="submit">Delete</button>
    </form>
  </div>
</div>
