<h2><%=@post.title%></h2>
<article>
  author: <%=@post.user%> : created at: <%= @post.created_at %>
  <p><%= @post.content %></p>
  tagz
  <%=@post.tags%>
<section>
<%@post.comments.each do |comment|%>
<%=comment.content%>
<%end%>
</section>
</article>
