<h2><%= @post.title %></h2>
<h3>By: <%= @post.user.email %></h3>
<p>
  <%= @post.body %>
</p>
<% if current_user.email == @post.user.email %>
<%= link_to "Edit Post",edit_post_path(@post) %>
<% end %>
<%= link_to "Add Comment",new_post_comment_path(@post) %>
<% if @post.comments %>
<ul>
<% @post.comments.each do |comment| %>
  <li>
    <p>
      <%= comment.body %>
    </p>
    <p>
      <% if comment.user %>
        <%= comment.user.email %>

        <% if current_user.email == comment.user.email %>
        <%= link_to "Edit Comment",edit_post_comment_path(@post,comment) %>
        <%= link_to "Delete Comment", post_comment_path(@post,comment), method: 'delete' %>
        <% end %>

      <% end %>
    </p>

  </li>
<% end %>
</ul>
<% end %>
<%= link_to "All Posts", posts_path %>
