<%= link_to "Back", posts_path %>

<h1><%= @post.title %> <%= link_to "edit", edit_post_path %></h1>

<p><%= @post.body %></p>

<%= form_for @post, method: :delete do |f| %>
<%= f.submit "Delete", class: "delete" %>
<% end %>
