<%= link_to "Back", posts_path %>

<h1><%= @post.title %> <%= link_to "edit", edit_post_path %> <%= link_to "Delete", post_path(@post), method: :delete, class: "delete" %></h1>

<p><%= @post.body %></p>


<%= link_to "Add a Comment", new_post_comment_path(@post) %>

<% @comments.each do |comment| %>
<p><%= comment.body %> <%= link_to "edit", edit_post_comment_path(@post,comment.id) %>
<%= link_to "delete", post_comment_path(@post,comment), method: :delete %></p>
<% end %>
