<h1><%= @post.title %> </h1>

<div class="posts">
  <h3><%= @post.author %></h3>
  <%= @post.text %>
  <%= link_to "Edit", edit_post_path, html_options = {class: "edit-post"} %>
  <%= form_for(@post, method: :delete) do |f| %>
    <%= f.submit "Delete Post", class: "delete" %>
    <% end %>
</div>

<div class="comment-container">
  <h4>Comments</h4>
    <%= render @post.comments %>
    <%= render "/comments/form" %>
</div>
