
<h3><a href="/">&larr;Back</a></h3>

<h2><%= @post.title %></h2>


<section class="post-show">
  <h6>This post was created on <%= @post.created_at %> by <%= @post.author %>.</h6>
  <p><%= @post.message %></p>

  <%= form_for @post, method: :delete do |f| %>
    <%= f.submit "Remove Post", class: "delete" %>
  <% end %>

  <div class="comments">
    <h3>Comments</h3>

    <% @post.comments.each do |comment| %>
      <div class="comment">
        <p><%= comment.message %></p>
        <h6>by <%= comment.author %> on <%= comment.created_at %>.</h6>
        <h5><%= link_to "Edit Comment", edit_post_comment_path(@post, comment) %></h5>
      </div>

    <% end %>
  </div>

  <h3 id="comment-click">Add Comment</h3>
  <div class="comment-form hide">
  <%= form_for([@post, @post.comments.build]) do |f| %>
    <%= f.label :message %>
    <%= f.text_area :message %>

    <%= f.label :author %>
    <%= f.text_field :author %>

    <%= f.submit "Add Comment" %>
  <% end %>
  </div>
</section>
<br>
<h3><a href="/">&larr;Back</a></h3>
