

<div>
	<h3><%=@post.subject%></h3>
	<h4><%=@post.username%></h4>
	<p> <%=@post.content%></p>
	<p> <%=@post.created_at%></p>
</div>
<%= link_to "Edit Post", edit_post_path(@post)%>
<%= link_to "Add a comment", new_post_comment_path(@post)%>
<div>
<% @post.comments.each do |comm|%>
	<p><%= comm.username %></p>
	<p><%= comm.text %></p>
	<p><%= comm.created_at %></p>
	<%= link_to "Edit Comment", edit_post_comment_path(@post,comm)%>
<%end%>
</div>
