<h2><%= @post.title %></h2>
<h4><%= @post.date %></h4>
<%= @post.content %>

<h4><%= link_to "EDIT", edit_post_path(@post) %></h4>

<h2>Add a Comment:</h2>
<%= form_for ([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </p>

  <p>
    <%= f.submit "SUBMIT" %>
  </p>
<% end %>
