
<p><a href="/posts">Back</a></p>
<div class="each_post">
  <h2><%= @post.title %></h2>
  <h3>By:  <%=@post.author%> </h3>
<p><%= @post.content %></p>
<p><%= link_to 'edit', edit_post_path %> | <%= link_to 'delete', edit_post_path, method: :delete %> </p>
</div>


<div class="comments_view">
  <h3>Comments</h3>
  <% @post.comments.each do |comment| %>
    <div class="comment">
      Added by <%= comment.author %> at <%= comment.created_at %><br /><%= comment.content %> <br>
    <p><%= link_to "edit", edit_post_comment_path(@post, comment)  %> |  <%= link_to 'delete', [comment.post, comment], method: :delete %> </p>

      <% end %>




      <h2>New Comment</h2>
    <%= form_for([@post, @post.comments.build]) do |f| %>
        <%= f.label :author %>
        <%= f.text_field :author %>

        <%= f.label :content %>
        <%= f.text_field :content %>

       <%= f.submit %>
       <% end %>

</div>
