<h1> <%= @post.title %> </h1>
<h3> Written By: <%= @post.author %> </h3>
<p> Created: <%= @post.created_on %> </p>

<img src="<%= @post.photo_url %>" style="width: 150px"/>

<p> <%= @post.content %> </p>

<p> <a href="<%= @post.link %>"> Link </a> </p>

<p> <a href="/posts"> <button> All Posts </button> </a> </p>
