<!--USED TUNR-RAILS-5 LESSON AS A REFERENCE FOR THIS FILE AND PREVIOUS OFFICE HOURS. SEE REFERENCES.md FILE FOR LINK -->
<h2><%= @post.topic %> <a href="/posts/<%= @post.id %>/edit">(edit)</a></h2>
<p><%= @post.content%></p>
<h3>Comments</h3>
<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <a href="/comments/<%= comment.id %>">
        <%= comment.content %> (<%= comment.author %>)
      </a>
    </li>
  <% end %>
</ul>
<!--USED TUNR-RAILS-5 LESSON AS A REFERENCE FOR THIS FILE AND PREVIOUS OFFICE HOURS. SEE REFERENCES.md FILE FOR LINK -->
