<h2><%= @posts.title %> <a href="/posts/<%= @posts.id %>/edit">(edit)</a></h2>
<h4>By: <%= @posts.author %></h4>
<h5>Category: <%= @posts.subject %></h5>
<h3><%= @posts.body %></h3>


<h3>Comments:</h3>
<ul>
  <% @posts.comments.each do |comment| %>
    <li>
      <%= comment.author %><br>
      <%= comment.body %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "Add Comment", new_post_comment_path(@posts) %>
</p>
