<h1> View Post </h1>
<article>
<h2> <%= @post.title %> </h2>
Posted By: <%= @post.author %>
<p> <%= @post.content %></p>


<h1> Comments </h1>

<% @post.comments.each do |comment| %>

<p> <%= comment.content %> </p>
<p> Posted by: <%= comment.author %> </p>

<% end %>

<p> <%= link_to "Add new Comment", new_post_comment_path(@post) %> </p>



</article>
