<div id="new-post-container">
  <%= link_to "New Post", new_post_path, id: "new-post" %>
</div>

<h2 id="post-title"><%= @post.title %></h2>
<p id="post-body"><%= @post.body %></p>
<%= link_to "Edit Post", edit_post_path(@post), id: "edit-post" %>

<h2 id="comment-title">COMMENTS</h2>
<%= link_to "New Comment", new_post_comment_path(@post), id: "new-comment" %>

<%= @post.comments.each do |comment| %>
  <p id="comments"><%= comment.body %></p>
<% end %>
