<article>
  <h2> <%= @post.title %> <%= link_to "(ooops...fix it)", edit_post_path(@post) %> </h2>
    <p> <%= @post.article %> <p>
      <h3>Observations, inputs and ponderings... <%= link_to "Contribute, please", new_post_comment_path(@post) %> </h3>
        <section>
          <% @post.comments.each do |comment| %>
            <p>
              <%= comment.comment %>
            </p>
          <% end %>
        </section>
</article>
