<%= link_to 'Home', posts_path%>
<h1><%= @post.title %></h1>
<p><%= link_to 'Edit Post', edit_post_path %></p>
<img src="<%= @post.img_url %>">
<p><%= @post.text %></p>

<%= link_to '« All Posts', posts_path%>

<hr>

<h2>Comments <%= link_to "(+)", new_post_comment_path(@post) %></h2>
<% if @post.comments != nil %>
  <% @post.comments.each do |comment| %>
    <h4><%= comment.user %></h4>
    <p><%= comment.comment %></p>
    <p><%= link_to "Edit", edit_post_comment_path(@post, comment) %></p>
  <% end %>
<% else %>
  <p>Post a comment!</p>
<% end %>
