<ul>
  <li> <%= @post.author %> </li>
  <li> <%= @post.text %> </li>
  <% if @comments.length > 1 %>
    <% @comments.each do |comment| %>
      <li> <%= comment.author %> </li>
      <li> <%= comment.text %> </li>
    <% end %>
  <% elsif @comments.length == 1 %>
    <li> <%= @comments[0].author %> </li>
    <li> <%= @comments[0].text %> </li>
  <% else %>
    <li> no comments yet </li>
  <% end %>
</ul>










<a href='/posts/new_comment/<%= @post.id %>'>click here to add a comment</a>
<a href='/posts/delete/<%= @post.id %>'>Click here to delete</a>
<a href='/posts/update/<%= @post.id %>'>Click here to update this</a>
