<h1><%= @post.title %></h1>
	<p><%= @post.body %></p>

<p><%= link_to "Edit", edit_post_path(@post) %></p>
	
	<p><%= link_to "Delete posts", post_path(@post), method: :delete %></p>

		<p><%= link_to "New comment", new_post_comment_path(@post) %></p>


<% @post.comments.each do |comment| %>
<p><%= comment.body %></p>
	<p><%= link_to "Edit", edit_post_comment_path(@post) %></p>
		<p><%= link_to "Delete", post_comment_path(@post, comment), method: :delete %></p>
<% end %>
