<h1><%= @post.title %> <%= link_to "(edit)", edit_post_path(@post) %></h1>

<%= image_tag @post.photo_url %>
<p><%= @post.text %></p>



<% @post.comments.each do |comment| %>
  <div class="comments">
    <h3><%= "#{comment.text} -- #{comment.author}" %></h3>
  </div>
<% end %>

<h2> Add Comment: </h2>


<%= form_for @post do |f| %>
  <p>
    <%= f.label "#{:author}:" %>
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label "#{:text}:" %>
    <%= f.text_field :text %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
