

<h1> <%= @post.title %> </h1>
<h4><%= @post.body %></h4>


<h3>Comments</h3>
<ul>
  <% @post.comments.each do |comment| %>
    <li>
        <%= comment.content %>

        <%= button_to "delete", method: :delete %>





    </li>

  <% end %>
</ul>



<h2><%= link_to "Add comment for this post", new_post_comment_path(@post) %></h2>
