<h1><%= @post.title %></h1>
<h2><%= @post.body %></h2>
<div>
<%= link_to "(edit)", edit_post_path  %>
<%= link_to "New Post", new_post_path(@post) %>
</div>
<% @post.comments.each do |comment| %>
  <div>
    <h2>
      <%= link_to comment.body, [@post, comment] %>
    </h2>
  </div>
  <% @post.comments.each do |comment| %>
    <div>
      <p>
	<%= comment.body %>
      </p>

      <%= link_to "Edit", edit_post_comment_path(@post, comment) %> |
      <%= link_to "Delete", post_comment_path(@post, comment), method: :delete %>

    </div>
  <% end %>
  </div>
  <% end %>
