<%= link_to 'Home', posts_path%>
<h1><%= @post.title %></h1>
<p><%= @post.text %></p>

<%= link_to 'All Posts', posts_path%>

<hr>
<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <h4><%= comment.user %></h4>
  <p><%= comment.comment %></p>
<% end %>
