<h2><%= @post.title %> </h2>
<h3>By <%= @post.author %> </h3>

  <ul>
<h4>Comments</h4>
    <% @post.comments.each do |comment| %>
      <li>
        <%= comment.subject %> by <%= comment.author %>
        <%= link_to "Edit comment", edit_post_comment_path(@post) %>
      </li>
    <% end %>
  </ul>


  <%= link_to "Add new comment", new_post_comment_path(@post) %>
  <%= link_to "Edit post", edit_post_path(@post) %>
  <%= link_to "Delete", post_path(@post), method: :delete %>
