<h1>Post Title: <%= @post.title %></h1>
<%= @post.body %>

<h2>The Peanut Gallery:</h2>
<p><% @post.comments.each do |comment| %>
  <%= comment.body %> <%= link_to '(edit)', edit_post_comment_path(@post, comment) %></p>
<% end %>


<p><%= link_to 'new comment', new_post_comment_path(@post) %></p>
<p><%= link_to 'home', :root %></p>
