<h1><%= link_to "All Posts", posts_path %></h1>
<h3><%= link_to "Delete Post", post_path(@post), method: :delete %></h3>


<p><%= @post.title %></p>
<p><%= @post.author %></p>
<p><%= @post.body %></p>

<%= link_to "Add A Comment", new_comment_path %>

<div class="comments">
<% @comments.each do |comment| %>
<p><%= comment.body %></p>
<p><%= comment.author %></p>
<%= link_to "Delete Comment", post_path(@comments), method: :delete %>
<% end %>
</div>
