<h2> <%= @post.title %> </h2>
  <p> Published at: <%= @post.created_at %> </p>
  <p> <%= @post.content %> </p>

<br><br>

<p> Comments: </p>
<% @comments.each do |comment|  %>
  <%= comment.content %>
  <p> Comment published at: <%= comment.created_at %></p>
  <% end %>
