<p> <a href="/posts">All Posts</a></p>

<h1> <%= @post.title %> </h1>
<% if current_user == @post.user %>
  <a href="/posts/<%= @post.id %>/edit"><button>Edit/Delete</button></a>
<% end %>

<h3> Written By: <%= @post.author %> </h3>
<p> Created: <%= @post.created_on %> </p>

<img src="<%= @post.photo_url %>" style="width: 150px"/>

<p> <%= @post.content %> </p>

<p> <a href="<%= @post.link %>"> Link </a> </p>

<h3>Comments</h3>
<a href="/posts/<%= @post.id %>/comments/new"> <button> Leave a Comment </button> </a>
<% @comment.each do |cmt| %>
  <p style="font-weight: 700"> <%= cmt.username %> -- <%= cmt.created_on %> -- Rating: <%= cmt.rating %> </p>
  <p> <%= cmt.content %> </p>
  <% if current_user == cmt.user %>
    <%= link_to "Edit/Delete", edit_post_comment_path(@post, cmt) %>
  <% end %>
<% end %>
