<h2><%=@post.title%> - <%=@post.username%></h2>

<p><%=@post.post_text%></p>

<div class="comment">
  <% @comments.each do |comment|%>
  <p>
    #<%=link_to comment.id, post_comment_path(@post, comment)%>
    - <%=comment.username %>
    - <%=comment.created_at %>
  </p>
  <p>
    <%=comment.comment_text%>
  </p>
  <% end %>
</div>

<%= link_to "Add Comment", new_post_comment_path(@post) %>
<%= link_to "Edit Post", edit_post_path(@post) %>
