<article>
  <h2> <%= @post.title %> <%= link_to "(ooops...)", edit_post_path(@post) %> <%= link_to "(ummmm...no.)", post_path(@post), method: :delete %> </h2>
    <p> <%= @post.article %> <p>

    <div>
      <h3>Observations, inputs and ponderings... <%= link_to "Contribute, please", new_post_comment_path(@post) %> </h3>
      <% @post.comments.each do |comment| %>
        <section>
            <p>
              <%= comment.body %> <%= link_to "(ooops...)", edit_post_comment_path(@post, comment) %> <%= link_to "(ummmm...no.)", post_comment_path(@post, comment), method: :delete %>
            </p>

        </section>
      <% end %>
    </div>
</article>
