<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<h2>Tags</h2>
<% @post.tags.each do |tag| %>
<p><%= link_to tag.category.name, category_path(tag.category) %></p>
<% end %>

<%= form_for [@post, @tag] do |f| %>
  <%= text_field_tag :category_name %>
  <%= f.submit 'Create Tag' %>
<% end %>  


<h2>Comments</h2>
<%= render @post.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'All Posts', posts_path %> |
<%= link_to 'Edit This Post', edit_post_path(@post) %> |
<%= link_to 'Delete This Post', post_path(@post),
             method: :delete,
             data: {confirm: 'Are you sure?'} %>
