
<h1><%= @post.title %></h1>



<img class="postPhoto" src="<%= @post.photo_url %>" alt="<%= @post.title %>"/>

<% if @post.created_at != @post.updated_at %>
  <p class="createdTime">Created: <%= @post.created_at.strftime("%b %e, %l:%M %p") %> by <%= @post.user %></p>
  <p class="createdTime">Updated: <%= @post.updated_at.strftime("%b %e, %l:%M %p") %></p>
<% else %>
  <p class="createdTime">Created: <%= @post.created_at.strftime("%b %e, %l:%M %p") %> by <%= @post.user %></p>
<% end %>
<%= button_to "Edit Post", edit_post_path, method: :get, class: "editButton", form_class: "editButtonFrom", data: { confirm: "Would you like to edit this post?"}  %>

<h3><%= @post.content %></h3>

<% @post.comments.each do |comment| %>
<hr/>

  <div class="commentsContainer">
    <p class="comments"><%= comment.text %> (<%= link_to "Edit", edit_post_comment_path(comment), method: :get, data: { confirm: "Would you like to edit this comment?"}  %>)</p>
    <% if comment.updated_at != nil %>
      <p class="comments"><%= comment.updated_at.strftime("%b %e, %l:%M %p") %> </p>
    <% else %>
      <p class="comments"><%= comment.created_at.strftime("%b %e, %l:%M %p") %> </p>
    <% end %>
  </div>

<% end %>

<hr/>


<%= render "comments/form" %>
