<h2><%= @post.title %></h2>
<p>Posted by <%= @post.name %></p>
<p><%= @post.blog %></p>
<p><%= link_to "Edit Post", edit_post_path(@post) %></p>
<h3>Comments <%= link_to "(+)", new_post_comment_path(@post) %></h3>

  <% @post.comments.each do |comment| %>
    <div class="comm">
      <%= comment.blog %>
      | Posted by <%= comment.name %>
      <%= link_to "Edit", edit_post_comment_path(@post, comment) %>
      <%= link_to "Delete", post_comment_path(@post, comment), method: :delete%>
    </div>
  <% end %>
