<article>

<h2><%= @post.title %> (<%=link_to "Edit", edit_post_path%>)</h2>
<p><%= @post.body %> </p>

<h2>Comments</h2>
  <% @post.comments.each do |comment| %>
    <h3><%=comment.comment_text%></h3>
    <h4>on <%=comment.created_at%></h4>
  <% end %>
</article>

<%= link_to "Back To All Posts", posts_path%>
