<%= link_to 'Back to Posts', posts_path %>
<br>

<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

<%= link_to 'Edit', edit_post_path(@post) %>
<!-- add a comment -->
<h3>Add Comment</h3>
<%= form_for([@post, @post.comments.build]) do |f| %>

  <!--builds infor for a comment and calls comments#create action -->
  <p>
    <%= f.label :commenter %>
    <br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :content %>
    <br>
    <%= f.text_area :content %>
  </p>
  <%= f.submit "COMMENT" %>

<% end %>

<!-- list the comments for this post -->
<% @post.comments.each do |comment| %>
  <h4><%= comment.commenter %></h4>
  <p><%= comment.content %></p>
<% end %>
