<h2>Edit Post</h2>

<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, size: "100" %>

  <%= f.label :content %>
  <%= f.text_area :content, size: "100x30" %>

  <%= f.submit %>
<% end %>

<%= link_to "Delete", @post, method: :delete, class: "delete" %>
