<h1>Edit this Post</h1>

<%= render 'form' %>

<%= form_for @artist, method: :delete do |f| %>
  <%= f.submit "Delete!", class: "delete" %>
<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
