<h1>Scribble</h1>

<h2>Posts</h2>

<%= link_to("(+)", new_post_path) %>

<% @posts.each do |post| %>

  <h3><%= post.title %></h3>
  <p><%= post.content %></p>
  <p><%= link_to "Edit", edit_post_path(post) %></p>
  <p><%= link_to "Remove", post, method: :delete %><</p>
  <% end %>
