<div class="allposts">
  <% @posts.reverse_each do |post| %>
  <div class="singlepost">
    <h2>
      <a href="/posts/<%= post.id %>">
      <%= post.title %>
      </a>
    </h2>
    <h3>Created at: <%=post.created_at %></h3>

    <p>
      <%= post.content %>
    </p>
    <p>
      Number of comments: <%= post.comments.count %>
    </p>
    <p>
      <%= link_to 'Make a comment', new_post_comment_path(post) %>
    </p>
  </div>
  <% end %>
</div>
