<h2>Scribble Posts</h2>

<%= link_to 'New Blog Post', new_post_path %>
<!-- <table>
  <tr>
    <th>Title</th>
    <th>Post</th>
  </tr> -->

  <% @post.each do |post| %>
  <div id="summary">
    <h2><%= post.title %></h2>
    <p><%= post.body %></p>
    <%= link_to 'Show', post_path(post) %>
    <%= link_to 'Edit', edit_post_path(post) %>
  </div>
<% end %>
