<h1>There is where you will make a new post!</h1>

<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, size: "100" %>

  <%= f.label :content %>
  <%= f.text_area :content, size: "100x30" %>

  <%= f.submit "Post!" %>
<% end %>
