<h2><%= @post.title %></h2>
<%= link_to "(edit post)", edit_post_path(@post) %>

<%= @post.content %>

<%= @post.created_at %>

<h3>Comments <%= link_to "Add comment (+)", new_post_comment_path(@post) %></h3>

<ul>
    <% @post.comments.each do |comment| %>
  <li>
      <p><%= "#{comment.content} - #{comment.username} @ #{comment.created_at}" %></p>
      <p><%= link_to "edit", edit_post_comment_path(@post, comment) %> || <%= link_to "delete", post_comment_path(@post, comment), method: :delete %></p>
  </li>
    <% end %>
</ul>
