<h2 class='headline'><%= @post.headline %></h2>

<nav>
<%= link_to 'Back', posts_path %> |
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
</nav>


<%= image_tag @post.image, id: 'post_image'%>

<p id='post_body'><%= @post.body %></p>

<div class='comments'>
<h3>Comments</h3>
<!-- Create Comment -->
  <div id='show_add_comment'>
    <%= link_to 'Add new comment', new_post_comment_path(@post)%>
  </div>
  <!-- Show Comment -->
  <% @post.comments.each do |comment| %>
  <div id='comment_date'>
    <%= comment.created_at%>
  </div>
  <div id='comment_text'>
    <%= comment.com_text %>
  </div>
  <div id='delete_comment'>
    <%= link_to 'Delete', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>
</div>
