<%= form_for @post do |f| %>
 <%= f.label :title %>
 <%= f.text_field :title %>

 <%= f.label :content %>
 <%= f.text_field :content %>

 <%= f.label :creater %>
 <%= f.text_field :creater %>

<!-- How can I change it to show update_at if it was updated? -->
 <%= f.label :created_at %>
 <%= f.text_field :created_at %>
 <%= f.submit  %>
<%end%>

<%=link_to "comment", new_post_comment_path(@post, @comment) %>

<h4><%=link_to "The following are comments related to this post", post_comments_path(@post) %></h4>
