<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<h2>Comments</h2>
<!-- <%= render @post.comments %> -->

<% @post.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <%= link_to 'Edit Comment', edit_post_comment_path(@post, comment) %>
<% end  %>

<p>
  <%= link_to "Add comment", new_post_comment_path(@post) %>
</p>
<!-- <h2>Add a comment:</h2> -->
<%# render 'comments/form', locals: {post: @post} %>
