<!DOCTYPE html>
<html>
<head>
  <title>Blog.r</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-registration-mark  " aria-hidden="true"></span>
      </a>
      <% if current_user %><span class="btn btn-danger navbar-right" id="signout"><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></span>
<% else %>
  <span class="btn btn-primary navbar-right" id="signup"><%= link_to 'Signup', new_user_registration_path %></span>
  <span class="btn btn-success navbar-right" id="login"><%= link_to 'Login', new_user_session_path %></span>
<% end %>
    </div>
  </div>
</nav>
<body>
  <div class="jumbotron text-center">
    <div class="container">
      <div class="well">

          <%= yield %>

     </div>
    </div>
  </div>
</body>
</html>
