<!DOCTYPE html>
<html>
<head>
  <title>Scribbler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <img src="http://i.imgur.com/4qBjlFx.png"/>
  <h1><%=link_to "Post Index", posts_path%></h1>
  <%flash.each do |type, message|%>
    <p class="<%= type %>"><%= message %></p>
  <%end%>
  <hr>
  <% if current_user %>
    <h3><%="#{current_user.email}"%>  <%= link_to '(Signout)', destroy_user_session_path, :method => :delete %></h3>
  <% else %>
    <h3><%= link_to 'Signup', new_user_registration_path %></h3>
    <h3><%= link_to 'Login', new_user_session_path %></h3>
  <% end %>
  <hr>
</header>

<%= yield %>

</body>
</html>
