<!DOCTYPE html>
<html>
<head>
  <title>Scribble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 class='logo'><%= link_to "Scribble", root_path %></h1>

<%= link_to "Sign Up", forms_sign_up_path %>

<%= link_to "Sign In", forms_sign_in_path %>
<br>
<br>

<%= yield %>

</body>
</html>
