<!DOCTYPE html>
<html>
<head>
  <title>Kevin Golden's Scribble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <%= image_tag "scribble.png" %>` -->
</head>
<body>

  <h1><%= link_to "Scribble", root_url %></h1>
  <nav>
    <%= link_to "New Post", new_post_path %>
      <%= link_to "View Posts", posts_path %>
  </nav>
  <% flash.each do |type, message| %>
    <p class="<%= type %>"><%= message %></p>
  <% end %>

<%= yield %>

</body>
</html>
