<!DOCTYPE html>
<html>
<head>
  <title>Scribble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
  header, nav, nav ul, nav li { list-style: none; display: inline-block; }
  </style>
</head>
<body>
  <header>
    <%= image_tag 'scribble_logo.png' %>
    <nav>
      <ul>
        <li><%= link_to 'All Posts', posts_path %></li>
        <li><%= link_to 'Sign In', sign_in_path %></li>
        <li><%= link_to 'Sign Up', sign_up_path %></li>
        <li><%= link_to 'Sign Out', sign_out_path %></li>
      </ul>
    </nav>
  </header>

<%= yield %>

</body>
</html>
