<!DOCTYPE html>
<html>
  <head>
    <title>Scribble</title>
    <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= link_to image_tag("picture1.png", alt: "Scribbles", class: "logo"), root_path %>
      <% flash.each do |type, message| %>
      <p class="flash <%= type %>"><%= message %></p>
      <% end %>
    <%= yield %>
  </body>
</html>
