<!DOCTYPE html>
<html>
<head>
  <title>Scribble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <!-- <img src="../../assets/images/scribble3.png" alt="logo pic" style=height = 200px> -->
<header class="scribble_logo">SCRIBBLE</header>

  <%= link_to "ALL", posts_path %>
  <%= link_to "NEW", new_post_path %>
</div>

<div class="content">
<%= yield %>
</div>

</body>
</html>
