<!DOCTYPE html>
<html>
<head>
  <title>Scribble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= image_tag("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTax6YQSpFr38ifIOxQ3jNT8imCxn2zFPv1v6HxhgdzsHbGn5w27Q")%>
<%= yield %>

</body>
</html>
