<!DOCTYPE html>
<html>
<head>
  <title>Sinatra</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1>Frank Sinatra's Ditties</h1>
  <h2>timeless hits from the Chairman of the Board</h2>
</header>
<nav>
  <%= link_to "Home", posts_path %>
  <%= link_to "New Ditty", new_post_path %>
</nav>

<%= yield %>

</body>
</html>
