<!DOCTYPE html>
<html>
  <head>
    <title>Scribble</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <h1>Scrible</h1>
  <nav>
    <%= link_to "All Posts", posts_path %>
    <%= link_to "Comments", new_post_comment_path%>
  </nav>

    <%= yield %>
  </body>
</html>
