<!DOCTYPE html>
<html>
  <head>
    <title>Scribble</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h1><span>GA</span> Scribble</h1>
    <%= link_to 'New Article', new_article_path %>
    <%= link_to 'All Articles', articles_path %>
    <%= link_to 'Users', users_path %>

    <%= yield %>
  </body>
</html>
