<!DOCTYPE html>
<html>
<head>
  <title>Sinatra</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1>Frank Sinatra's Ditties</h1>
  <h2>timeless hits from the Chairman of the Board</h2>
</header>
<nav>
  <%= link_to "Home", posts_path %>
  <%= link_to "New Ditty", new_post_path %>
  <% if session[:user] %>
    <a href="/sign_out"><%= session[:user]["username"] %>: sign out</a></h2>
  <% else %>
    <a href="/sign_up">Sign up</a>
    <a href="/sign_in">Sign in</a>
  <% end %>
</nav>
<h2><%= flash[:notice] %></h2>
<%= yield %>

</body>
</html>
