<!DOCTYPE html>
<html>
<head>
  <title>Scribble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,700|Open+Sans:400,300,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= link_to "Scribble", posts_path, id: "logo" %>

  <%= yield %>
</body>
</html>
