<!DOCTYPE html>
<html>
  <head>
    <title>Scribble</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <img src = '/images/Scribble.png'>

      <nav>
        <%= link_to "Songs", songs_path %>
        <%= link_to "Artists", artists_path %>
      </nav>

    </header>

    <%= yield %>
  </body>
</html>
