<!DOCTYPE html>
<html>
  <head>
    <title>Scribble</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <img src="<%= image_path("scribble_logo.png") %>">
    </header>
    <nav>
      <h2>Sign In | Sign Up | <%= link_to "New Post", new_post_path %> </h2>
    </nav>
    <%= yield %>
  </body>
</html>
