<!DOCTYPE html>
<html>
<head>
  <title>Scribble</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:300,100' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="cbp-af-header">
      <div class="cbp-af-inner">
        <h1>Scribble</h1>
        <nav>
          <%= link_to "Posts", posts_path() %>
          <%= link_to "Add Post", new_post_path() %>

          <% if current_user %>
          <%= current_user.email %>
          <%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
          <% else %>
          <%= link_to 'Signup', new_user_registration_path %>
          <%= link_to 'Login', new_user_session_path %>
          <% end %>
        </nav>
      </div>
    </div>

    <img src="<%= Identicon.data_url_for "Jen", 48, [255, 255, 255] %>" alt="Identicon">

    <div class="main">
      <section>
        <div>
          <%= yield %>
        </div>
      </section>
    </div>
  </div>

</body>
</html>
