<!DOCTYPE html>
<html>
<head>
  <title>Scribble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Capitals and Coding Blog</h1>
  <%= image_tag "http://www.sports-logos-screensavers.com/user/Washington_Capitals5.jpg", size: "300x150", alt: "Photo of Washington Capitals Logo" %>
  <nav>
    <a href="/posts">HOME</a>
  </nav>
<%= yield %>

</body>
</html>
